
@{
    ViewBag.Title = "Contacto";
}

<h2>Contacto</h2>
<div class="container">
    <div class="row">
        <h1>IDGS904</h1>
        <h2>@ViewBag.Nombre</h2>
        <h3>@ViewBag.Titulo</h3>
        <h4>@ViewData["Materia"]</h4>

        @Html.ActionLink("Prueba", "Index", "Pruebas", null, new {miAtributo = "valor1",
   @class="btn btn-danger"});
    </div>
</div>

